#category
{
    display: inline-block;
    
}
#category1
{
    display: inline-block;
    
}
#category2
{
    display: inline-block;
    
}
#category3
{
    display: inline-block;
    
}
.container 
{
    height: 100%;
}
.stopped  
{
    background-color: red;
}
.rejected
{
    background-color: red;
}
.expired {
    background-color: red;
}
.pending
{
    background-color: yellow;
}
.active
{
    background-color: green;
}